{% extends "base.html" %}

{% block title %}ई-पेपर - द इंक न्यूज़{% endblock %}

{% block content %}
<h2>ई-पेपर</h2>
<section class="epaper-section">
    {% if epapers %}
        {% for epaper in epapers %}
            <article class="epaper-article">
                <img src="{{ epaper.image_url }}" alt="Epaper Image" class="news-image">
                <p>तारीख और समय: {{ epaper.uploaded_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </article>
        {% endfor %}
    {% else %}
        <p>कोई ई-पेपर उपलब्ध नहीं है।</p>
    {% endif %}
</section>
{% endblock %}