{% extends "base.html" %}
{% block title %}द इंक न्यूज़ - होम{% endblock %}
{% block content %}
    <h2>होम</h2>
    <section class="news-articles">
        {% if news_articles %}
            {% for article in news_articles %}
                <article>
                    <div class="article-header">
                        <h3>{{ article.title }}</h3>
                        <a href="#" class="share-icon" data-url="{{ url_for('article', id=article.id, slug=article.title|slugify, _external=True) }}" title="Share this article">↗</a>
                    </div>
                    {% if article.content_blocks %}
                        {% for block in article.content_blocks|sort(attribute='order_index') %}
                            {% if block.block_type == 'image' %}
                                <img src="{{ block.content }}" alt="{{ article.title }}" class="news-image">
                            {% elif block.block_type in ['text', 'subheading'] %}
                                <div class="article-content">
                                    {{ block.content | safe }}
                                </div>
                            {% elif block.block_type == 'video' %}
                                <video controls class="news-video">
                                    <source src="{{ block.content }}" type="video/mp4">
                                    आपका ब्राउज़र वीडियो टैग को सपोर्ट नहीं करता।
                                </video>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <p style="color: #666; font-weight: lighter;">स्थान: {{ article.location_text }}</p>
                    <p style="color: #666; font-weight: lighter;">तारीख और समय: {{ article.date_published|format_ist }}</p>

                </article>
            {% endfor %}
        {% else %}
            <p>कोई लेख उपलब्ध नहीं है।</p>
        {% endif %}
    </section>
{% endblock %}