{% extends "base.html" %}

{% block title %}खेल - द इंक न्यूज़{% endblock %}

{% block content %}
<h2>खेल</h2>
<div class="news-articles">
    {% for article in news_articles %}
        <article>
            <h3><a href="{{ url_for('news_detail', id=article.id) }}">{{ article.title | safe }}</a></h3>
            <p><strong>शहर:</strong> {{ article.location }}</p>
            {% if article.location_text %}
                <p><strong>स्थान:</strong> {{ article.location_text }}</p>
            {% endif %}
            <p><strong>तारीख:</strong> {{ article.date_published.strftime('%Y-%m-%d') }}</p>
            {% set first_image = article.content_blocks|selectattr('block_type', 'equalto', 'image')|selectattr('content')|first %}
            {% if first_image and first_image.content|isfile %}
                <a href="{{ url_for('news_detail', id=article.id) }}">
                    <img src="{{ url_for('serve_uploads', filename=first_image.content|basename) }}" alt="{{ article.title | safe }}" class="preview-image">
                </a>
            {% endif %}
            {% set first_text = article.content_blocks|selectattr('block_type', 'equalto', 'text')|selectattr('content')|first %}
            {% if first_text %}
                <p>{{ first_text.content|truncate(100) | safe }} <a href="{{ url_for('news_detail', id=article.id) }}">और पढ़ें...</a></p>
            {% endif %}
        </article>
    {% else %}
        <p>कोई समाचार उपलब्ध नहीं है।</p>
    {% endfor %}
</div>
{% endblock %}